<!DOCTYPE html>
<html>
<head>
  <title>Wallet</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>


</head>
<body>
<nav id="navcard">

<%if current_user %>
<%= link_to 'Log out', session_path(current_user.id), method: :delete %>
<%= link_to 'Home', root_path %>
<%= link_to 'New Card', new_card_path  %>
<%= link_to 'All Cards', cards_path %>
<%= link_to 'All Users', users_path  %>
<%= link_to "Delete Account", user_path(current_user.id), method: :delete %>
<%end%>
</nav>

<div id="wrapper">

<%= render 'shared/flashes' %>


<%= yield %>
</div>
</body>
</html>
